<div class="overflow-x-auto">
  <div id=add>  <button class="btn btn-info">Add</button></div>

  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        @for (user of users; track user.id) 
        {
        <th>{{user.id}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.created}}</td>
        <td>{{user.lastLogin}}</td>
        <td><div id=buttons><button class="btn btn-primary">Edit</button>
        <button class="btn btn-error">Delete</button></div></td>
        }
      </tr>
    </tbody>
  </table>
</div>